<!DOCTYPE html>

<html lang="en">
    <head>
        <title>TradeBot</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    </head>
    <body>
        <table class="table table-striped" style="width:100%">
            <thread>
                <tr>
                    <th>Date and Time</th>
                    <th>Percent</th>
                    <th>Euro</th>
                    <th>Profit/Loss</th>
                </tr>
            </thread>
            <tbody>

                <tr>
                    <td>{{date_time}}</td>
                    <td>{{percent}}</td>
                    <td>{{euro}}</td>
                    <td>{{profit}}</td>
                </tr>
            </tbody>
    </body>
</html>